@charset "UTF-8";
/* 
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/
body{
    background-color: rgb(205, 255, 203);
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h1{
    color: rgb(4, 109, 0);
}
h2{
    color: rgb(51, 77,49);
}
.basico{
    color: rgb(54,159,50);
}
.intermediario{
    color: rgb(222, 236, 22);
}
.avançado{
    color: rgb(223, 82, 17);
}
.destaque{
    background-color: rgba(15, 112, 39, 0.219);
}