@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: -o-linear-gradient(to right, rgb(133, 125, 125),rgb(53, 48, 48));
}
main{
    background-color: rgb(248, 244, 244);
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgb(59, 52, 52);
    width: 600px;
    padding: 10px;
    margin: auto;
    text-align: justify;
}
h1{
    color: blueviolet;
    text-align: center;
}
h2{
    color: aqua;
    text-align: center;
}
p{
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}